.letters {
  display: flex;
  flex-flow: row wrap;    
}

span {
  flex: 1 12.5%;
  text-align: center;
  background-color: lightgrey;
  box-sizing: border-box;
  padding: 1em 0;
}

.letters::after {
    content: "";
    flex-basis: 75%;
}

.disabledLetter {
  background-image: linear-gradient(grey, white);
}